.image-viewer {
    display: flex;
    text-align: center;
  }
  

  .image {
    float: left;
    margin-right: 15px;
    max-width: 50%;
    
  }
  
  .description {
    word-wrap: break-word;
    max-width: 50%;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%; 
    margin: 20%;
  }
  
  /* Media query for mobile devices */
  @media screen and (max-width: 768px) {
    .image-container {
      margin: 10%;
    }
  }