@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 255, 248, 231;
  --background-start-rgb: 255, 221, 189;
  --background-end-rgb: 255, 245, 235;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Bitter', serif;
  --font-mono: 'Fira Code', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: var(--font-sans);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

